html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.w3-top{position:fixed;width:100%;z-index:1}.w3-top{top:0}
.w3-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}

.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
.w3-bar .w3-button{white-space:normal}
.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}z
.w3-bar-item{text-align:center}.w3-block{display:block;width:100%}

.topnav {overflow: hidden;background-color: #708090;#rcorners {border-radius: 25px;background: #708090;padding: 10px;width: 600px;height: 100px;}}

.topnav a {float: left;display: block;color: black;font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; text-align: center;padding: 14px 16px;text-decoration: none;}

.topnav a:hover {background-color: #BC8F8F;color: black;}

body {background-color: #FFFAFA;color: black;font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

h2 {color: black; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

p {color: black; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}
.w3-padding-small{padding:4px 8px}.w3-padding{padding:8px 16px}.w3-padding-large{padding:12px 24px}.w3-padding-64{padding-top:64px;padding-bottom:64px}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000;background-color:#f1f1f1}
.w3-container{padding:0.01em 16px}
.w3-content{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}
.w3-third{float:left;width:100%}.w3-third{width:33.33333%}.w3-row-padding>.w3-third
.w3-center{text-align:center}.w3-center{display:inline-block;width:auto}
