html{overflow-x:hidden}

.topnav {overflow: hidden;background-color: #708090;#rcorners {border-radius: 25px;background: #708090;padding: 10px;width: 600px;height: 100px;}}
.topnav a {float: left;display: block;color: #000;font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; text-align: center;padding: 14px 16px;text-decoration: none;}
.topnav a:hover {background-color: #BC8F8F;color: #000;}

body {background-color: #FFFAFA;color: #000;font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

h2 {color: #000; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

p {color: #000; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

body
{
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: #FFFAFA;
}
.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 20px;
    container-sizing: border-container;
    background: ;
    border-radius: 4px;
    container-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;
    transition: .5s;
    
}
.container:hover
{
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
}
.container .img-container
{
    width: 150px;
    flex: 0 0 150px;
}
.container .img-container img
{
    max-width: 100%;
}
.container .content
{
    padding-left: 20px;
    
}
.container .content h2
{
    margin: 0;
    padding-left: 0;
    color: ;
    font-size: 22px;
}
.container .content p
{
    margin: 0;
    padding: 0px 0 0 ;
    text-align: justify;
}
